version: "3.8"

services:
  backend:
    build: .
    container_name: insectscanner-backend
    ports:
      - "3000:3000"
    restart: always
    depends_on:
      - redis
    env_file:
      - .env
    environment:
      PORT: ${PORT}
      FIREBASE_SERVICE_ACCOUNT_BASE64: ${FIREBASE_SERVICE_ACCOUNT_BASE64}
      FIREBASE_STORAGE_BUCKET: ${FIREBASE_STORAGE_BUCKET}
      FIREBASE_WEB_API_KEY: ${FIREBASE_WEB_API_KEY}
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REQUEST_URI: ${REQUEST_URI}

  redis:
    image: redis:7-alpine
    container_name: insectscanner-redis
    command: redis-server --requirepass ${REDIS_PASSWORD}
    ports:
      - "6379:6379"
    restart: always
    env_file:
      - .env
    volumes:
      - redis_data:/data

volumes:
  redis_data:
